.header {
	height: 22rem;
	background-image: linear-gradient(
		to right bottom,
		#6bd1ba,
		#00c5cf,
		#00b4eb,
		#009eff,
		#007fff,
		#446ef7,
		#645aeb,
		#7d42db,
		#9843cf,
		#ab47c4,
		#ba4dba,
		#c456b1
	);
	&_content {
		margin-top: 5rem;
	}
}
